.register-form {
    height: 450px;
    width: 380px;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    padding: 10px 16px 10px 0;
    background-color: #333333;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.register-form form {
    width: 80%;
}

.register-form h1 {
    margin-bottom: 30px;
    margin-left: 14px;
    color: white;
    text-align: center;
    text-decoration: underline white;
}

.register-text-field {
    width: 320px !important;
    margin-bottom: 25px !important;
}

#register-button {
    width: 106%;
}