.main-button {
    background-color:rgba(105, 105, 255, 0.7);
    border-radius: 3px;
    padding: 7px 20px;
    letter-spacing: 0.4px;
    font-weight: 600;
    color: white;
    border: none;
}

.main-button:hover {
    background-color:rgba(105, 105, 255, 0.5);
    cursor: pointer;
}

.main-button:focus {
    outline: none;
}