.login-form {
    height: 320px;
    width: 320px;
    display: flex;
    justify-content: center;
    margin: 150px auto;
    padding: 10px 16px 10px 0;
    background-color: #333333;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.login-form form {
    width: 80%;
}

.login-form h1 {
    margin-bottom: 30px;
    margin-left: 14px;
    color: white;
    text-align: center;
    text-decoration: underline white;
}

.login-form input {
    margin-top: 15px;
    display: block;
    width: 100%;
}

.login-form a {
    text-decoration: none;
}

#forgot-password-link {
    margin: 4px 0 20px 0;
    text-align: right;
    color: white;
}

#login-button {
    width: 106%;
}

#test {
    margin: 3px 0 0 4px;
    color: red;
    font-size: 13px;
    visibility: hidden;
}