.login-form {
    height: 280px;
    width: 320px;
    display: flex;
    justify-content: center;
    margin: 150px auto;
    padding: 10px 16px 10px 0;
    background-color: #333333;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.4);
}

.login-form form {
    width: 80%;
}

.login-form h1 {
    margin-left: 14px;
    color: white;
    text-align: center;
    text-decoration: underline white;
}

.login-form input {
    width: 100%;
    display: block;
    margin-top: 25px;
}

.login-form p {
    margin: 4px 0 20px 0;
    text-align: right;
    color: white;
}

.login-form button {
    width: 106%;
}