.article-page {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 60%;
    margin: 40px auto 0 auto;
}

.article-page h1, .article-page p {
    color: white;
}

.article-section {
    display: flex;
    margin: 10px 0;
    padding: 12px 0 0 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.article-content {
    margin: 0 12px 12px 20px;
}

.article-section a button {
    margin-right: 8px;
}

.voting-button {
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}