.answeritem {
    position: relative;
    display: flex;
    margin: 10px 0;
    padding: 20px 0 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.answeritem a {
    text-decoration: none;
    color: #6389A8;
}

.answeritem a:hover {
    color: #386A96;
}

.answertext {
    margin: 10px 160px 10px 20px;
}