.delete-profile-form {
    margin: 0 80px;
    grid-column: 2 / 6;
}

.delete-profile-form a {
    margin-top: 20px;
    display: block;
}

.delete-profile-form button {
    background-color: rgba(255, 0, 0, 1.0);
}

.delete-profile-form button:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

.delete-profile-form button:disabled {
    background-color: rgba(100, 100, 100, 1.0);
    cursor: default;
}