.portfolio-timeline {
    margin-top: 30px;
    grid-column: 2 / 5;
}

.portfolio-timeline-content {
    background-color: #333333;
    padding: 1px 0px 1px 20px;
    text-align: left;
}

.empty-portfolio-timeline {
    text-align: center;
}

.no-empty-portfolio-timeline {
    margin-bottom: 30px;
    text-align: right;
}