.articlelist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 0 auto;
}

.articlelist-header h1 {
    color: white;
}

.articlelist-filter {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto 10px auto;
}

.articlelist-filter button {
    background-color:rgba(0, 0, 0, 0.0);
    border: 2px solid rgba(105, 105, 255, 1.0);
    border-radius: 3px;
    padding: 2px 10px;
    color: white;
}

.articlelist-filter button:hover {
    background-color:rgba(105, 105, 255, 0.25);
    cursor: pointer;
}

.articlelist-filter button:focus {
    outline: none;
}

.articlelist-button-groups {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.load-more-articles a {
    text-decoration: none;
}

.load-more-articles a button {
    display: flex;
    justify-content: center;
    margin: 20px auto 50px auto;
}

.accordion {
    background-color: #333333 !important;
    width: 100%;
}

.accordion-summary > *, .dialog-title > * {
    color: #DDDDDD !important;
}

.accordion-content > * {
    color: #698FAE !important;
}

/* Tablet und Handy */
@media (max-width: 1281px) {
    .articlelist-header {
        width: 90%;
    }
    .articlelist-filter {
        width: 90%;
    }
    .articlelist-button-groups {
        width: 90%;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .articlelist-header {
        width: 60%;
    }
    .articlelist-filter {
        width: 60%;
    }
    .articlelist-button-groups {
        width: 60%;
    }
}