.profile-settings-form  {
    margin: 40px 80px 0 80px; 
    grid-column: 2 / 6;
}

.profile-settings-form input {
    display: block;
    width: 200px;
}

#save-profile-button {
    margin: 24px 0;
}