.email-settings {
    padding: 50px 5% 0 5%;
    color: white;
}

.email-settings-form {
    margin: 40px 80px 0 80px; 
    grid-column: 2 / 6;
}

.email-settings-form p {
    margin: 6px 0 16px 0;
}

.email-settings-form input {
    width: 300px;
}

#save-email-button {
    width: 150px;
}