.icon-button {
    background-color: rgba(105, 105, 255, 0.0);
    border-radius: 48px;
    padding-top: 4px;
    color: white;
    border: none;
}

.icon-button:hover {
    background-color:rgba(105, 105, 255, 0.4);
    cursor: pointer;
}

.icon-button:focus {
    outline: none;
}