nav {
    background-color: #333333;
    align-items: center;
    display: flex;
    height: 55px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.title a {
    text-decoration: none;
    color: white;
    flex-grow: 1;
}

.title h1 {
    margin-left: 24px;
}

.search {
    flex-grow: 2;
}

.search input {
    width: 400px;
    margin: 0 16px 0 0;
}

.search button {
    margin-right: 16px;
}

.navbar-right button {
    margin-right: 24px;
}