.home-page-content {
    text-align: center;
    width: 40%;
    margin: 150px auto 0 auto;
    color: white;
}

.home-page-content h1 {
    font-size: 64px;
    text-shadow: 0 0 5px black;
}

.home-page-content h2 {
    font-size: 40px;
    text-shadow: 0 0 5px black;
}

.home-page-tags button {
    margin: 5px;
}