.filter-settings {
    display: flex;
    justify-content: flex-start;
}

/* Tablet und Handy */
@media (max-width: 1281px) {
    .filter-settings {
        width: 90%;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .filter-settings {
        width: 60%;
    }
}

.filter-settings label {
    margin-bottom: 4px;
    display: block;
    color: white;
}