.filter a button {
    margin-top: 12px;
    padding: 6px 16px;
}

.filter-settings {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.filter-settings button {
    margin-right: 40px;
}

/* Tablet und Handy */
@media (max-width: 1281px) {
    .filter-settings {
        width: 90%;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .filter-settings {
        width: 60%;
    }
}

.filter-settings label {
    margin-bottom: 4px;
    display: block;
    color: white;
}