.filter-settings {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

/* Tablet und Handy */
@media (max-width: 1281px) {
    .filter-settings {
        width: 90%;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .filter-settings {
        width: 60%;
    }
}

.filter-settings p {
    margin: 0 12px;
    display: inline;
    color: white;
}

.filter-settings label {
    margin: 12px 0 4px 0;
    display: block;
    color: white;
}

.filter-settings a button {
    margin-top: 16px;
}

.filter-settings fieldset label {
    margin: 0 12px 0 2px;
    display: inline;
}