.tag-button {
    background-color:rgba(67, 82, 95, 1.0);
    color: rgba(220, 220, 220, 1.0);
    border-radius: 3px;
    padding: 4px 8px;
    border: none;
}

.tag-button:hover {
    background-color:rgba(67, 82, 95, 0.8);
    cursor: pointer;
}

.tag-button:focus {
    outline: none;
}