.listitem {
    width: 50%;
    height: 120px;
    color: white;
    border: 2px solid rgba(130, 182, 223, 0.7);
    list-style-type: none;
    margin: 10px auto;
}

.listitem a {
    text-decoration: none;
    color: #6389A8;
}

.listitem a:hover {
    color: #386A96;
}