.create-article {
    width: 45%;
    margin: 0 auto 40px auto;
    padding: 0 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.create-article h1 {
    text-decoration: underline;
}

.create-article label {
    margin-bottom: 6px;
    font-size: 18px;
    display: block;
}

.create-article-title input {
    margin-bottom: 6px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 4px;
}

.create-article input:focus {
    outline: 1px solid rgba(105, 105, 255, 1.0);
}

.create-article .main-button {
    background-color: rgba(105, 105, 255, 0.7);
    margin-top: 16px;
    width: 150px;
}