.main-button {
    background-color:rgba(130, 182, 223, 1.0);
    border-radius: 3px;
    padding: 7px 20px;
    font-weight: bold;
    color: white;
    border: none;
}

.main-button:hover {
    background-color:rgba(130, 182, 223, 0.7);
    cursor: pointer;
}

.main-button:focus {
    outline: none;
}

span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}