.second-button {
    background-color:rgba(0, 0, 0, 0.0);
    border: 2px solid #82B6DF;
    border-radius: 3px;
    padding: 6px 20px;
    color: white;
}

.second-button:hover {
    background-color:rgba(130, 182, 223, 0.25);
    cursor: pointer;
}

.second-button:focus {
    outline: none;
}