.user-profile-grid-container {
    padding: 50px 5% 0 5%;
    color: white;
    display: grid;
}

.user-profile-grid {
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.overview {
    grid-column: 1 / 4;
}

.stats {
    grid-column: 4 / 6;
}

.counter-stats {
    display: flex;
    justify-content: center;
}

.counter-stats p {
    margin: 0 10px;
    display: inline-block;
    text-align: center;
}

.article-list {
    grid-column: 1 / 4;
}