.user-profile-grid-container {
    padding: 50px 5% 0 5%;
    display: grid;
}

.user-profile-grid {
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.overview {
    grid-column: 1 / 3;
}

.top-tags {
    grid-column: 1 / 3;
}

.article-list {
    grid-column: 1 / 3;
}