.listitem {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.1);
    list-style-type: none;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

/* Tablet und Handy */
@media (max-width: 1281px) {
    .listitem {
        width: 90%;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .listitem {
        width: 60%;
    }
}

.listitem-left-section {
    margin: 40px 0 0 20px;
    grid-column: 1 / 2;
}

.listitem-left-section p {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.listitem-right-section {
    grid-column: 2 / 4;
}

.listitem-right-section button {
    margin-right: 12px;
}

.creator-info-section {
    margin-right: 24px;
    text-align: right;
}

.creator-info-section p {
    font-size: 14px;
}

.listitem a {
    text-decoration: none;
    color: #6389A8;
}

.listitem a:hover {
    color: #386A96;
}